.myBtn {
    background: yellowgreen;
    cursor: pointer;
    font-size: medium;
    transition: .2s;
    margin: 3px;
}

.myBtn:hover {
    background: green;
}

.myBtn:active {
    transform: translateY(2);
    background: yellow;
}