.post-enter {
   transform: translateX(-100%);
}

.post-enter-active {
   transform: translateX(0);
   transition: 0.5s ease-in;
}

.post-exit {
   transform: translateX(0);
}

.post-exit-active {
   transform: translateX(-100%);
   transition: 500ms ease-in;
}
